<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>
  I'm a traveler by birth, developer by training and a rogue in the night.
  </p>
  <p>
  I'm work at <a href="http://aws.amazon.com/">AWS</a> and work on the <a>E</a> in <a href="http://aws.amazon.com/elasticloadbalancing/">Elastic Load balancing</a>.
  In my spare time, I like to run long distances, tell stories and avoid being shoehorned into making overly broad generalizations about my interests.
  </p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>
